<main>
    <section>
        <img width="100%" src="../Midias/Imgs/Acompanhamentos/batata.png" alt="Adicionais">
        <article class="d-flex justify-content-center tituloCardapio">
            <h1 class="tituloText">Adicionais</h1>
        </article>
    </section>




    <section class="container" id="acompanhamentos">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Acompanhamentos/arroz.png" alt="Arroz">
                    </article>
                    <article class="col-10">
                        <h2>Arroz Branco R$5,00</h2>
                        <p>150g de arroz branco</p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Acompanhamentos/farofa.png" alt="Farofa">
                    </article>
                    <article class="col-10">
                        <h2>Farofa das Indias R$5,00</h2>
                        <p>10g de farofa das indias</p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Acompanhamentos/vinagrete.png" alt="Vinagrete">
                    </article>
                    <article class="col-10">
                        <h2>Vinagrete ao Molho Negro R$5,00</h2>
                        <p>10g de vinagrete temperado com cebola roxa e vinagre do chile</p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Acompanhamentos/batataFrita.png" alt="Batata Frita">
                    </article>
                    <article class="col-10">
                        <h2>Batata Frita com Cheddar R$5,00</h2>
                        <p>100g de batatas fritas do himalaia</p>
                    </article>
                </section>
            </li>
        </ul>
    </section>
</main>