<main>
    <section>
        <img width="100%" src="../Midias/Imgs/Doces/doces.png" alt="Doce">
        <article class="d-flex justify-content-center tituloCardapio">
            <h1 class="tituloText">Sobremesas</h1>
        </article>
    </section>

    <section class="container" id="doces">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Doces/boloDeChocolate.png" alt="Bolo de Chocolate">
                    </article>
                    <article class="col-10">
                        <h2>Bolo de chocolate R$7,00</h2>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Doces/pudim.png" alt="Pudim">
                    </article>
                    <article class="col-10">
                        <h2>Pudim com creme red R$5,00</h2>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Doces/trufas.png" alt="Trufas">
                    </article>
                    <article class="col-10">
                        <h2>Trufas diversas R$5,00</h2>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Doces/coneRecheado.png" alt="Cone Recheado">
                    </article>
                    <article class="col-10">
                        <h2>Cone recheado R$5,00</h2>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Doces/cupcake.png" alt="Cupcake">
                    </article>
                    <article class="col-10">
                        <h2>Cupcake R$5,00</h2>
                    </article>
                </section>
            </li>
        </ul>
    </section>
</main>