<main>
    <section>
        <img width="100%" src="../Midias/Imgs/Carnes/carne.png" alt="Carne">
        <article class="d-flex justify-content-center tituloCardapio">
            <h1 class="tituloText">Carnes</h1>
        </article>
    </section>

    <section class="container" id="carnes">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Carnes/contraFilet.png" alt="Contra Filet">
                    </article>
                    <article class="col-10">
                        <h2>Contra filet R$34,00</h2>
                        <p>348G DO CORTE NOBRE DO CONTRA-FILET, PERFEITAMENTE TEMPERADO E
                            PREPARADO NA CHAPA COM O CORTE ESPECIAL DO CHEFE DA CASA, ACOMPANHADO DE UMA BATATA ASSADA
                            TEMPERADA COM SAL BRASILEIRO TRADICIONAL.</p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Carnes/mioloDeAlcatra.png" alt="Miolo de Alcatra">
                    </article>
                    <article class="col-10">
                        <h2>Miolo de Alcatra R$37,00</h2>
                        <p>373G DO CORTE NOBRE DE ALCATRA, PERFEITAMENTE TEMPERADO E PREPARADO NA CHAPA COM O CORTE
                            ESPECIAL DO CHEFE DA CASA, ACOMPANHADO DE UMA BATATA HOLANDESA TEMPERADA COM SAL DAS INDIAS.
                        </p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Carnes/costelaBovina.png" alt="Costela Bovina">
                    </article>
                    <article class="col-10">
                        <h2>Costela Bovina R$37,00</h2>
                        <p>358G DO CORTE NOBRE DA COSTELA BOVINA, PERFEITAMENTE TEMPERADO E PREPARADO NA CHAPA COM O
                            CORTE ESPECIAL DO CHEFE DA CASA, ACOMPANHADO DE UMA BATATA RIUSTICA TEMPERADA COM SAL DAS
                            INDIAS.</p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Carnes/fraldinha.png" alt="Fraldinha">
                    </article>
                    <article class="col-10">
                        <h2>Fraldinha R$31,00</h2>
                        <p>375G DO CORTE NOBRE DA FRALDINHA, PERFEITAMENTE TEMPERADO E
                            PREPARADO NA CHAPA COM O CORTE ESPECIAL DO CHEFE DA CASA,
                            ACOMPANHADO DE UMA BATATA RIUSTICA TEMPERADA COM SAL DO IMALAIA.</p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Carnes/filetMignon.png" alt="Filet Mignon">
                    </article>
                    <article class="col-10">
                        <h2>Filet Mignon R$39,00</h2>
                        <p>345G DO CORTE NOBRE DO FILET-MIGNON, PERFEITAMENTE TEMPERADO E PREPARADO NA CHAPA COM O CORTE ESPECIAL DO CHEFE DA CASA, ACOMPANHADO DE UMA BATATA RIUSTICA TEMPERADA COM SAL DO IMALAIA.</p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Carnes/maminha.png" alt="Maminha">
                    </article>
                    <article class="col-10">
                        <h2>Maminha R$30,00</h2>
                        <p>334G DO CORTE NOBRE DA MAMINHA, PERFEITAMENTE TEMPERADO E
                            PREPARADO NA CHAPA COM O CORTE ESPECIAL DO CHEFE DA CASA,
                            ACOMPANHADO DE UMA BATATA HOLANDESA TEMPERADA COM SAL DAS INDIAS.</p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Carnes/paletaBovina.png" alt="Paleta Bovina">
                    </article>
                    <article class="col-10">
                        <h2>Paleta Bovina R$32,00</h2>
                        <p>365G DO CORTE NOBRE DA PALETA BOVINA, PERFEITAMENTE TEMPERADO E PREPARADO NA CHAPA COM O CORTE ESPECIAL DO CHEFE DA CASA, ACOMPANHADO DE UMA BATATA RIUSTICA TEMPERADA COM SAL DO IMALAIA.</p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Carnes/picanha.png" alt="Picanha">
                    </article>
                    <article class="col-10">
                        <h2>Picanha ao Molho Negro R$36,00</h2>
                        <p>369G DO CORTE NOBRE DA FRALDINHA, PERFEITAMENTE TEMPERADO E PREPARADO NA CHAPA COM O CORTE ESPECIAL DO CHEFE DA CASA, ACOMPANHADO DE UMA BATATA CHILENA TEMPERADA COM SAL DO IMALAIA.</p>
                    </article>
                </section>
            </li>
        </ul>
    </section>
</main>