<main>
    <section>
        <img width="100%" src="../Midias/Imgs/Salada/salada.png" alt="Salada">
        <article class="d-flex justify-content-center tituloCardapio">
            <h1 class="tituloText">Saladas</h1>
        </article>
    </section>

    <section class="container" id="salada">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Salada/alface.png" alt="Alface">
                    </article>
                    <article class="col-10">
                        <h2>Salada de alface R$12,00</h2>
                        <p>Alface temperado com sal da holanda, vinagre do agreste com sementes e castanhas</p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Salada/mixSalada.png" alt="Mix de Saladas">
                    </article>
                    <article class="col-10">
                        <h2>Mix de Saladas R$16,00</h2>
                        <p>Alface, tomates-cerejas, pétalas de cebola roxa, mix de queijos, castanhas e sementes com molho de sua escolha</p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Salada/colorida.png" alt="Salada Colorida">
                    </article>
                    <article class="col-10">
                        <h2>Salada Colorida R$15,00</h2>
                        <p>Alface, tomates-cerejas, pétalas de cebola roxa, mix de queijos, alface roxo castanha de caju, castanhas diversas</p>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Salada/japonesa.png" alt="Salada Japonesa">
                    </article>
                    <article class="col-10">
                        <h2>Salada Japonesa R$20,00</h2>
                        <p>Alface japones, tomates-cerejas, pétalas de cebola roxa da asia, mix de queijos e castanhas do japão</p>
                    </article>
                </section>
            </li>
        </ul>
    </section>
</main>