<main>
    <section>
        <img width="100%" src="../Midias/Imgs/Bebidas/coca.png" alt="Bebidas">
        <article class="d-flex justify-content-center tituloCardapio">
            <h1 class="tituloText">Bebidas</h1>
        </article>
    </section>

    <section class="container" id="bebidas">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Bebidas/refri2L.png" alt="Refri 2L">
                    </article>
                    <article class="col-10">
                        <h2>Coca-Cola 2L R$9,00</h2>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Bebidas/refriLata.png" alt="Refri Lata">
                    </article>
                    <article class="col-10">
                        <h2>Coca-Cola Lata R$5,00</h2>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Bebidas/sucoLata.png" alt="Suco Lata">
                    </article>
                    <article class="col-10">
                        <h2>Suco Lata R$5,00</h2>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Bebidas/suco.png" alt="Suco">
                    </article>
                    <article class="col-10">
                        <h2>Suco Natural R$10,00</h2>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Bebidas/cervejaLata.png" alt="Cerveja Lata">
                    </article>
                    <article class="col-10">
                        <h2>Cerveja Lata R$5,00</h2>
                    </article>
                </section>
            </li>
            <li class="list-group-item">
                <section class="row">
                    <article class="col-2">
                        <img src="../Midias/Imgs/Bebidas/chopp.png" alt="Chopp">
                    </article>
                    <article class="col-10">
                        <h2>Chopp Brahma Lata R$9,00</h2>
                    </article>
                </section>
            </li>
        </ul>
    </section>
</main>